module.exports = {
  "database" : {
    "username": process.env.databaseuser || "postgres",
    "password": process.env.databasepassword || "1234",
    "port": process.env.databaseport || "5432",
    "host": process.env.databasehost || "127.0.0.1",
    "collection": process.env.databasecollection || "postgres",
  },
  "api" : {
    "apiKey": process.env.apikey || "not so secret"
  },
  "general": {
    "logging": console.log
  }
};
